@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?sg5faz');
  src:  url('../fonts/icomoon/icomoon.eot?sg5faz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?sg5faz') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?sg5faz') format('woff'),
    url('../fonts/icomoon/icomoon.svg?sg5faz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blob:before {
  content: "\e905";
}
.icon-penta:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-sun:before {
  content: "\e900";
}
.icon-moon:before {
  content: "\e901";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-github:before {
  content: "\eab0";
}
