@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;






.h1-bold {
  @apply text-4xl font-bold text-center text-gray-800;
}

.h1 {
  @apply text-4xl text-center text-gray-700;
}

body.dark .h1-bold, body.dark header, body.dark .h1, body.dark .name-text{
  @apply text-gray-200
}

body.dark span {
  @apply text-gray-300
}



.input, textarea {
  @apply border border-gray-500 border-solid p-2;
}

body.dark .input, body.dark textarea {
  @apply border-gray-100;
}


.button, input, textarea {
  transition: box-shadow .3s ease-out;
  @apply rounded;
}

body .bg-gray, body .bg-dark-gray {
  background-color: #fff;
}

body.dark .bg-gray{
  background-color: #2d3748;
}

body.dark .bg-dark-gray {
  background-color: #1a202c;
}

@media (min-width: 640px) {
  .sm\:bg-transparent {
    background-color: transparent !important;
} 
}

body.dark .text-mode {
  color: #fff
}

.text-mode, .text-mode-gray {
  transition: color .3s ease-out;
}

body .text-mode {
  color: #1a202c;
}

body .text-mode-gray {
  @apply text-gray-700
}

body.dark .text-mode-gray {
  @apply text-gray-400
}

body .reverse-colors {
  color: #fff;
}

body.dark .reverse-colors {
  color: #1a202c;
}

body .reverse-bg-color {
  background-color: #1a202c;
}

body.dark .reverse-bg-color {
  background-color: #fff;

}

.button:hover {
  @apply shadow-button;
}

input:hover, textarea:hover {
  @apply shadow-hover;
}

.active {
  @apply border-b border-yellow-200;
}


body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);
  transition: all .3s ease-out;
  background-color: var(--bg);
}

body.dark .bg-gray-900 {
  background-color: @apply bg-gray-100;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #4a5568;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
}

:focus {
  outline: none;
}
.card-wrapper {
  height: 300px;
}

.name-text, .h1-bold, .anchor-link {
  width: fit-content;
  position: relative;
}

.h1-bold {
  margin: 0 auto;
}

.name-text:after, .h1-bold:after, .anchor-link:after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: #ecc94b;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 15px;
  z-index: -1;
  opacity: .4;
}

body.dark .name-text:after, body.dark .h1-bold:after,body.dark .anchor-link:after {
  background-color: #018aa9;
  opacity: .9;
}


.my-img-icon {
  font-size: 20rem;
  z-index: 0;
  bottom: -12%;
  left: -15%;
}

.section-about p {
  line-height: 24px;
}

.anchor-link {
  display: inline-block;
}

.anchor-link:after {
  left: 0;
  height: 6px;
}

